.signup {
    background-image: url(../images/bg-intro-mobile.png);
    background-color: $red;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 80vh;
    padding: 10px 0;

   &_item_1 {
        text-align: center;
        margin-bottom: 50px;
        
        h2 {
            font-size: 1.3rem;
            margin-bottom: 10px;
            padding: 0 20px;
        }

        p {
            font-size: 0.9rem;
            padding: 5px;
        }
    }

    &_item_2 {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 400;

        .signup_form_item1 {
            background-color: $blue;
            padding: 13px 60px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 2px 5px rgba(0,0,0,0.3);

            span {
                font-weight: 700;
            }
        }

        .signup_form_item2 {
            background-color: $white;
            border-radius: 10px;
            box-shadow: 1px 4px rgba(0,0,0,0.3);
            padding: 20px 0;

            form {
                
                #error {
                    display: none;
                }

                input {
                    padding: 13px;
                    width: 90%;
                    border: 0;
                    margin-bottom: 15px;
                    border-radius: 3px;
                    outline: 1px solid $grayish_blue;
                    font-weight: 700;
                }

                input[type="submit"] {
                    background-color: $green;
                    border: 0;
                    text-transform: uppercase;
                    color: $white;
                    font-weight: 400;
                    box-shadow: 1px 5px rgba(8, 65, 40, 0.9);

                    &:hover {
                        cursor: pointer;
                        background-color: hsl(154, 72%, 56%);;
                    }
                }
            }
        }

        .small {
            width: 58%;
            margin: 0 auto;
            color: $dark_blue;
            font-size: 0.5rem;
            font-weight: 400;

            span {
                color: $red;
                font-weight: 700;
            }
        }
        
    }
}
  

@media (min-width: 768px) {
    .signup {
        background-image: url(../images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            align-items: center;
            gap: 10px;
        }

        &_item_1 {
            text-align: left;
            
            h2{
                font-size: 2.5rem;
                line-height: 3rem;
                width: 70%;
                margin-bottom: 15px;
                padding: 0;
            }
            p{
                padding: 0;
                width: 85%;
            }
        }

        &_item_2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            row-gap: 10px;
            padding: 15px;
            font-size: 0.8rem;

            .signup_form_item1 {
                background-color: $blue;
                padding: 18px 10px;
                text-align: center;
                border-radius: 10px;

             
            }

            .signup_form_item2 {
                background-color: $white;
                padding: 30px;
            }
        }
    }

}